





#head{
		
		width:100%;
	}
	
#heone{
	width:100%;
	height:668px;
}
#hetwo{
	width:50%;
}
#one{
	width:50%;
}
#two{
	width:65%;
}
#three{
	
    width: 100%;
    


}
#four{
	width:100%;
	height:300px;
}
#five{
	width:16%;
}
#six{
	width:16%;
}
#seven{
	width:16%;
}
#ione{
	width:16%;
}
#itwo{
	width:16%;
}
#ithree{
	width:16%;
}
#ifour{
	width:100%; 
	
}
#ifive{
	width:50%;
}
#mo{
	width:50%;
}

#isix{
	width:65%;
}
#iseven{
	width:100%;
	
}
#saone{
	width:50%;
}
#satwo{
	width:50%;
}
#sathree{
	width:70%;
}
#safour{
	width:100%;
	
}
#safive{
	width:50%;
}
#sasix{
	
	width:100%;
}
#saseven{
	width:50%;
}
#sanone{
	width:100%;
}
#santwo{
	width:100%;
	
}
#santhree{
	width:100%;
}
#sanfour{
	width:50%;
}
#sanfive{
	width:50%;
}
#sansix{
	width: 100%;
   	
}
#sanseven{
	width:50%;
}

#sanione{
	width:50%;
}
#sanitwo{
	width:100%;
}

#sanifour{
	width:100%;
	margin-bottom:30px;
}
#sanifive{
	width:16%;
}
#sanisix{
	width:16%;
}
#saniseven{
	width:16%;
}
#ssone{
	width:16%;
}
#sstwo{
	width:16%;
}
#ssthree{
	width:16%;
}
#ssfour{
	
	width:100%;
}
